@charset "UTF-8";

@import "mypage_banner.css";

.ProfileWrapper{
	  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin : 0 auto;
}

.ProfileTitleWrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2.8rem;
	
	
}
.profileTitleContainer{
	display: flex;
	flex-direction: column;
	

}

.profileTitleText{
	color: var(--black, var(--black, #282828));
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 1.3rem;
}

.profileNameText{
	color: var(--black, #282828);
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 1rem;

}

.profileContentText{
	color: var(--gray4, #AEAFB9);
	font-size: 1.5rem;
	font-weight: 500;
}

.profileLogout{
	display: flex;
	align-items: center;
	color: var(--grey3, var(--gray4, #AEAFB9));
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 1.8rem */
	cursor: pointer;
}

.ProfileTileWrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:4rem;
	align-items: center;
	margin-bottom: 15rem;
}

.ProfileTile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 20rem;
	background-color: #F8F8FA;
	border-radius: 8px;
	gap:2.2rem;
	cursor: pointer;
	
}

.profileTileIcon{
	width: 5rem;
	height: 5rem;
}

.profileTileIcon2
{
	width: 4rem;
	height: 4rem;
}
.profileTileText{
	font-size: 2rem;
	
}