.navbar_container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.branding_a{
    display: flex;
    flex-direction: row;
}

.branding_h1{
    display: flex;
    align-self: center;
}

header {
    padding-top: 10px;
}
.navbar_logo{
    width: 54px;
    height: 54px;
}
header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
header li {
    display: inline;
    margin: 0 20px;
}
header #branding {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #branding h1 {
    margin-left: 2rem;
    font-size: 2rem;
    font-family: "Pretendard-medium";
}
header nav {
    float: right;
    margin-top: 5px;
}
header .highlight, header .current a {
    font-weight: bold;
}
header nav a:hover {
    font-weight: bold;
}