
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.detailPageWrapper{
	  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  margin-top: 6rem;
  padding: 0 2rem;
  margin-bottom: 13rem;
  animation: fadeIn 0.5s ease-in-out;
  
  @media (max-width: 1200px) {
    width: 80%;
  }
}

.DetailPageType{
 display: flex;
  width: 100%;

  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  color: gray;	
  font-size: 1.3rem;
}

.DetailPageTypeText{
	  display: flex;
  font-size: 2rem;
  font-weight: 700;
}


.DetailDiviner{
	  width: 100%;
  height: 0.1rem;
  background-color: #eeeff3;
  border: none;
  margin-bottom: 2rem;
}

.DetailTitleGrayInfo{
	  font-size: 1.4rem;
  font-weight: 400;
  color: #acacac;
  margin-right: 1rem;
}

.LikeViewWrapper{
	  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: flex-end;

  margin-bottom: 2rem;
}

.DetailCommentHeader{
	  color: #4285f4;
  font-size: 2rem;
  font-weight: 600;
}
.DetailViewText{
	display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  color: #d9d9d9;
  text-align: center;
  font-size: 16px;
}

.DetailTitle{
	  font-size: 3rem;
  font-weight: 600;
  color: #4285f4;
  margin-bottom: 1rem;
}

.DetailTitleIconWrapper{
	  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}


.DetailTitleIcon{
	 width: 1.8rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;	
}

.DetailCommentInputWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.DetailCommentInput {
    width: 90%;
    height: 5rem;
    border: 1px solid #eeeff3;
    border-radius: 20px;
    padding: 0rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #282828;
    outline: none;
}

.DetailCommentInput::placeholder {
    color: #acacac;
}

.DetailContentWrapper{
	margin: 3rem 1rem;
}

.DetailContent{
		font-size: 2rem;
	color: #282828;
	
}
.DetailTitleInfoWrapper{
	  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.DetailCommentButton {
    width: 10%;
    height: 5rem;
    margin-left: 2rem;
    border: 1px solid #aeafb9;
    border-radius: 20px;
    color: #acacac;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background-color : rgb(246, 247, 251);
}

.DetailCommentButton:hover {
    background-color: #eeeff3;
}
