@charset "UTF-8";
.groupregister-container {
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
    display: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    /*임시 높이*/
    height :60rem;
}

.groupregister-header {
	padding: 6.25rem;
}

.groupregister-body {
}

.groupregister-footer {
}

.groupregister-container h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

.groupregister-container h3 {
    font-size: 1.85rem;
    font-weight: 700;
}

.groupregister-container p {
	font-size: 1.25rem;
	font-weight: 700;
}