@charset "UTF-8";
.groupregister-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.groupregister-header {
	padding: 6.25rem;
}

.groupregister-body {
	padding: 0 3.125rem;
}

.groupregister-image {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}
    
.groupregister-image img {
	max-width: 60%;
	height: auto;
}
    
.groupregister-info {
	padding: 3.125rem 10.125rem;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.groupregister-text {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.groupregisterButton {
    padding: 1rem;
    text-align: center;
    background: #4285F4;
    width: 8.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    box-shadow: 0rem 0.1rem 1rem #4285F4;
    border-radius: 2rem;
    border: none;
    margin: 5rem 0 4rem;
}

.imageUpdateButton {
    padding: 1rem;
    text-align: center;
    background: #4285F4;
    width: 7rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    border-radius: 2rem;
    border: none;
    margin: 5rem 0.5rem 4rem;
}

.imageDeleteButton {
    padding: 1rem;
    text-align: center;
    background: white;
    width: 7rem;
    font-weight: 600;
    font-size: 1rem;
    color: #4285F4;
    border-radius: 2rem;
    border: 0.1rem solid #4285F4; /* 버튼 테두리 색상 지정 */
    margin: 5rem 0.5rem 4rem;
}

.groupregister-container h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
}

.groupregister-container h3 {
	flex-direction: column;
	display: flex;
	justify-content: center;
	width: 43.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    text-align: left;
}

.groupregister-container p {
	font-size: 1.5rem;
	padding: 1rem;
}

.blue-text {
	color: #4285F4;
	font-size: 1.5rem;
	font-weight: 700;
}

#imageButtons {
	padding: 2rem;
}

#description {
	padding-top: 3.125rem;
}

#nameinput {
	flex-direction: column;
	display: flex;
	width: 43.25rem;
	border-radius: 6px;
	border: 1px solid #9D9D9D;
	background: #FFF;
}

#descriptioninput {
	flex-direction: column;
	display: flex;
	width: 43.25rem;
	border-radius: 6px;	
	border: 1px solid #9D9D9D;
	background: #FFF;
}