@charset "UTF-8";
.groupresult-container {
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
    display: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    /*임시 높이*/
    height :60rem;
}

.groupresult-header {
	margin: 100px;
}

.groupresult-body {
}

.groupresult-footer {
	margin: 8px 500px;
}

.groupresult-container h1 {
	font-size:large;
	font-weight: bold;
	font-family: Pretendard-bold;
}

.groupresult-container p {
	font-size: small;
	font-family: Pretendard-medium;
}